<aside id="categories-sidebar">
  <p-accordion>
    <p-accordionTab header="Movies">
      <a [href]="'/movie/' + movie.id" class="" *ngFor="let movie of movies">
        {{movie.title}}
      </a>
    </p-accordionTab>
    <p-accordionTab header="People">
      <a [href]="'/person/' + person.id" class="" *ngFor="let person of famousPeople">
        {{person.name}}
      </a>
    </p-accordionTab>
    <p-accordionTab header="Books">
      <a [href]="'/book/' + book.id" class="" *ngFor="let book of books">
        {{book.name}}
      </a>
    </p-accordionTab>

  </p-accordion>

</aside>
