<app-navbar/>

<div class="container">
  <button id="solagidecekbuton" (click)="solagit('people')" >sola git lan</button>
<!--  <button (click)="increment()">Increment</button>-->

<!--  <div>Current Count: {{ count$ | async }}</div>-->

<!--  <button (click)="decrement()">Decrement</button>-->

<!--  <button (click)="reset()">Reset Counter</button>-->
<section id="categories">
  <p>
<!--    selectedCategory={{selectedCategory$|async}}-->
  </p>
  <app-category-card *ngFor="let category of categories"
                     [categoryName]="category.name"
                     [categoryDescription]="category.description"
                     [id]="category.name+'-topic'"
                     (click)="setSelectedCategory(category.name)"
/>
</section>
  <p id="testosas">{{currentCategory$ | async}}</p>
  <app-subcategory-list/>
</div>
