<app-navbar/>
<div class="container">
  <main id="quotes-page">
  <app-categories-sidebar/>

  <section id="quotes">

    <div class="filter-and-sort">
      <div class="search">
        <input type="search" name="quoteSearch" id="quoteSearch">
        <input type="button" value="Search">
      </div>
      <div class="sort">
        <button class="most-liked">Most Liked</button>
        <button class="recently-added">Recently Added</button>
      </div>
    </div>


      <section id="quote-list">
      <app-quote
        *ngFor="let quote of quotes"
        [id]="quote.id"
        [text]="quote.text"
        [author]="quote.author"
        [likes]="quote.likes"/>
      </section>
    </section>
  </main>
</div>
