#quotes-page{
display: flex;
  justify-content: space-between;
  margin-top:2rem;


#quotes{
  width: 75%;
  margin-left: auto;

  #quote-list{
    margin-top:2rem;
  }
  .filter-and-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search{
      input{
        padding:0.5rem;
        border:0;
        border-radius: 3px 0 0 3px;
        background: #4a516e;

      }
      #quoteSearch{
        width:300px;

      }
      input[type=button]{
        border-radius:0 3px 3px 0;
        background-color:royalblue;
        color:white;
        font-weight:600;
        cursor:pointer;
        //letter-spacing: 0.1rem;
        &:hover{
          transition:0.4s ease-in-out;
          background-color: #6d90ff;

        }
      }
    }

    .sort{
      margin:0;
      button{
        cursor:pointer;
        border:0;
        padding:0.6rem;
        background-color:#353535;
        color:#d9d9d9;
        &:hover{
          background-color:#424242;
        }
      }
      button:first-child{
        border-radius:3px 0 0 3px;
      }
      button:last-child{
        border-radius:0 3px 3px 0;
      }
      button:not(:last-child){
        border-right:1px solid #676767;
      }
    }
  }
}
   }
