<app-navbar/>
<section class="container">
<article class="quote">
    <p class="quote-text">
<!--      {{text}}-->
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis doloremque dolores eos illum in, perferendis sequi vel? Animi deleniti et maxime numquam officia provident quam quasi recusandae tempore velit! A, alias consectetur culpa cum cupiditate doloribus error eveniet illum magni neque, nulla officiis quasi rem tempora vel veniam voluptas!
    </p>
    <div class="quote-lower-body">
      <p class="quote-author">
<!--        {{ author }}-->
        MEMED
      </p>
      <p class="quote-likes">
        <i class="pi pi-thumbs-up" style="font-size: 0.8rem"></i>
<!--        {{likes}}-->
        459
      </p>
    </div>
  </article>
</section>
