<app-navbar/>
<section class="page">
<figure>
  <img ngSrc="./assets/images/indir_9.jpeg" alt="website logo" height="747" width="750">
</figure>
  <h1>
    Quotes, idioms and proverbs from all cultures and languages.
  </h1>
  <div class="animated ">
  <ul class="topics marquee">
<!--    <li *ngFor="">inspiring</li>-->
    <li>life</li>
    <li>death</li>
    <li>love</li>
    <li>health</li>
    <li>nature</li>
  </ul>
<!--    <ul class="topics marquee marquee2">-->
<!--    <li>nature</li>-->
<!--    <li>health</li>-->
<!--    <li>love</li>-->
<!--    <li>death</li>-->
<!--    <li>life</li>-->
<!--    <li>inspiring</li>-->
<!--  </ul>-->
  <ul class="famous-people">
    <li>Necip Fazıl Kısakürek</li>
    <li>William Shakespeare</li>
    <li>Alfred Adler</li>
    <li>İbn Haldun</li>
    <li>Marcus Aurelius</li>
  </ul>
  <ul class="platforms">
    <li>book</li>
    <li>anime</li>
    <li>movie</li>
    <li>cartoon</li>
  </ul>
  </div>
  <a href="#">Start browsing</a>
</section>
